<!--KNVLV-->
<!doctype html>
<html lang="en">
<head>

    <title>Zero Template</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../CSS/style.css">

    <!--Media-->
        <!--min-width:980px-->
        <link rel="stylesheet" href="../CSS/media.css" media="screen and (min-width: 980px)">
    <!--Media ends-->
</head>
<body>
    <h1>Read File</h1>
    <form action="/readfile" method="post">
      <label for="file">Select a file:</label>
      <input type="file" id="file" name="file">
      <button type="submit">Read</button>
    </form>

<script defer src="JS/app.js">
</script>

</body>
</html>
